name: Guardian CI
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  guardian:
    runs-on: ubuntu-latest
    steps:
      - name: Run Guardian action
        uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
